/*
File Name: indec.css
Name: Nihar Dholaria
StudentId: 301348175
Date: 26 - September - 2024
*/

*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  font-family:"Outfit",Arial, Helvetica, sans-serif;
}

html{
  scroll-behavior: smooth;
}